@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/spacing" as *;

.heading-text {
  padding: 1rem 0;
}

.role {
  @include type-style("productive-heading-03");
}

.detail {
  @include type-style("body-compact-01");
  @include breakpoint-down(md) {
    padding: $spacing-02 0;
  }
}

.detail-contact {
  @include type-style("body-compact-01");
  padding: $spacing-03 0 $spacing-02;
}

.list {
  padding-bottom: $spacing-04;
}
.list-item {
  padding: $spacing-03 0;
}
.accordion {
  padding: $spacing-03 0;
}

.accordion-span {
  font-weight: bold;
}

li::before {
  content: "";
  padding-top: $spacing-02;
}
