@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;
@use "@carbon/react/scss/breakpoint" as *;
@use "@carbon/react/scss/theme" as *;
@use "./mixins.scss" as *;
@use "./overrides.scss";

$html-font-size: 16px;
@function stripUnit($value) {
  @return $value / ($value * 0 + 1);
}
@function rem($pxValue) {
  @return #{stripUnit($pxValue) / stripUnit($html-font-size)}rem;
}

.landing-page__illo {
  max-width: 100%;
  max-height: 60vh;
  @include breakpoint-down(md) {
    padding-top: $spacing-06;
  }
}

.landing-page--image-container {
  justify-self: flex-end;
}

.landing-page__banner {
  padding-top: $spacing-05;
  padding-bottom: $spacing-07 * 4;
  padding-left: $spacing-06;
  @include landing-page-background;
}

.landing-page__heading {
  @include type-style("productive-heading-05");
}

.landing-page__r2 {
  margin-top: rem(-54px);
  padding: $spacing-01 $spacing-06;
}

.tabs-group-content {
  padding: $spacing-10 $spacing-03;
}

.landing-page__subheading {
  @include type-style("productive-heading-03");

  font-weight: 600;
}

.landing-page__p {
  @include type-style("productive-heading-03");
  margin-top: $spacing-06;
  margin-bottom: $spacing-08;

  @include breakpoint-between((320px + 1), md) {
    max-width: 75%;
  }
}

.landing-page__span {
  @include type-style("productive-heading-02");
}

.landing-page__location {
  @include type-style("body-compact-01");
}

.landing-page__banner,
.landing-page__r2 {
  margin-left: -20px;
  margin-right: -20px;

  @include breakpoint-down(md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.landing-page__cell-span {
  @include type-style("productive-heading-01");
}

.landing-page__cell > * {
  padding: 0;
  margin: 0;
}
