@use "./components/Header/main-header";
@use "./components/Footer/footer";
@use "./pages/LandingPage/landing-page";
@use "./pages/ProjectPage/project-page";
@use "./pages/ContactPage/contact-page";
@use "./pages/ServicesPage/services-page";
// C:/Users/John Fiewor/OneDrive/Documents/Code/portfolio/src/pages/LandingPage/landing-page
