@use "@carbon/react/scss/spacing" as *;
@use "@carbon/react/scss/type" as *;

.contact-page__p {
  padding: $spacing-10 0;
  margin: $spacing-13 0;
}

.contact__text {
  padding: $spacing-05 0;
}

.contact__form {
  max-width: 500px;
  padding: $spacing-05 0;
}

.contact__success-text {
  padding: $spacing-10 0;
  margin: $spacing-13 0;
}
